<h1>Welcome</h1>
<a href="/api/linkedin/authorize"><img src="/assets/linkedin-signin-small-default.png"></a>
<hr />
<a href="/secret">Go to the Secret section (must be signed-in) - You will be redirected here if not</a>